In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Quality data Preprocessed data.csv")

In [3]:
dataset

,Product,Time,Equipment,Char A,Char B,Char C,Char D,Char E,Char A6,Char A7,Char A8,Char A9,Char A10,Class
0,Product-1,2022-09-05,B1,82,17,12,126,119,B,C,A,H,H,H
1,Product-2,2022-09-05,B1,96,13,13,72,42,B,B,A,B,B,B
2,Product-3,2022-09-05,B1,60,12,13,56,33,B,B,A,B,B,B
3,Product-4,2022-09-05,B1,53,12,11,45,21,B,B,A,B,A,B
4,Product-5,2022-09-05,B1,56,12,17,49,26,B,B,B,B,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,Product-5640,2023-04-20,B1,84,3,14,63,61,B,A,B,B,C,C
5640,Product-5641,2023-04-20,B4,52,2,12,42,20,B,A,A,B,A,B
5641,Product-5642,2023-04-20,B4,56,2,9,66,39,B,A,A,B,B,B
5642,Product-5643,2023-04-20,B1,51,3,13,67,43,B,A,A,B,B,B
5643,Product-5644,2023-04-20,B1,26,1,9,51,18,A,A,A,B,A,B

In [4]:
dataset.columns

Index(['Product', 'Time', 'Equipment', 'Char A', 'Char B', 'Char C', 'Char D',
       'Char E', 'Char A6', 'Char A7', 'Char A8', 'Char A9', 'Char A10',
       'Class'],
      dtype='object')

In [5]:
startdate="2015-09-05"
enddate="2023-04-20"
df=dataset[dataset['Time'].between(startdate,enddate)][['Time', 'Char A','Char B','Char C','Char D','Char E']]

In [6]:
df

            Time  Char A  Char B  Char C  Char D  Char E
0     2022-09-05      82      17      12     126     119
1     2022-09-05      96      13      13      72      42
2     2022-09-05      60      12      13      56      33
3     2022-09-05      53      12      11      45      21
4     2022-09-05      56      12      17      49      26
...          ...     ...     ...     ...     ...     ...
5639  2023-04-20      84       3      14      63      61
5640  2023-04-20      52       2      12      42      20
5641  2023-04-20      56       2       9      66      39
5642  2023-04-20      51       3      13      67      43
5643  2023-04-20      26       1       9      51      18

[5644 rows x 6 columns]

In [7]:
df=df[['Char A', 'Char B', 'Char C', 'Char D','Char E']]

In [8]:
df.head()

   Char A  Char B  Char C  Char D  Char E
0      82      17      12     126     119
1      96      13      13      72      42
2      60      12      13      56      33
3      53      12      11      45      21
4      56      12      17      49      26

In [ ]:
#column='Char A', 'Char B', 'Char C', 'Char D','Char E'

In [9]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(df)
print("Len:",data1.shape)

Len: (5644, 5)

In [10]:
data1

array([[0.47368421, 0.8125    , 0.24242424, 0.77142857, 0.88059701],
       [0.55555556, 0.6875    , 0.27272727, 0.38571429, 0.30597015],
       [0.34502924, 0.65625   , 0.27272727, 0.27142857, 0.23880597],
       ...,
       [0.32163743, 0.34375   , 0.15151515, 0.34285714, 0.28358209],
       [0.29239766, 0.375     , 0.27272727, 0.35      , 0.31343284],
       [0.14619883, 0.3125    , 0.15151515, 0.23571429, 0.12686567]])

In [11]:
len(data1)

5644

In [12]:
data1=pd.DataFrame(data1,columns=['Char A', 'Char B', 'Char C', 'Char D','Char E'])

In [13]:
data1

        Char A   Char B    Char C    Char D    Char E
0     0.473684  0.81250  0.242424  0.771429  0.880597
1     0.555556  0.68750  0.272727  0.385714  0.305970
2     0.345029  0.65625  0.272727  0.271429  0.238806
3     0.304094  0.65625  0.212121  0.192857  0.149254
4     0.321637  0.65625  0.393939  0.221429  0.186567
...        ...      ...       ...       ...       ...
5639  0.485380  0.37500  0.303030  0.321429  0.447761
5640  0.298246  0.34375  0.242424  0.171429  0.141791
5641  0.321637  0.34375  0.151515  0.342857  0.283582
5642  0.292398  0.37500  0.272727  0.350000  0.313433
5643  0.146199  0.31250  0.151515  0.235714  0.126866

[5644 rows x 5 columns]

In [14]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

4515
X_train length: (4515, 5)
X_test length: (1129, 5)
y_train length: (4515, 5)
y_test length: (1129, 5)

In [15]:
Quality={'Model':[],'Char A':[],'Char B':[],'Char C':[],'Char D':[],'Char E':[]}

In [16]:
Quality

{'Model': [],
 'Char A': [],
 'Char B': [],
 'Char C': [],
 'Char D': [],
 'Char E': []}

In [ ]:
#data1

In [17]:
listt=['Char A', 'Char B', 'Char C', 'Char D','Char E']

In [18]:
listt

['Char A', 'Char B', 'Char C', 'Char D', 'Char E']

In [19]:
datasetTwo=df[listt]
test_obs = 28
train =datasetTwo[:-test_obs]
test = datasetTwo[-test_obs:]
from statsmodels.tsa.api import VAR
for i in [1,2,3,4,5,6,7,8,9,10]:
    model = VAR(train)
    results = model.fit(i)
    print('Order =', i)
    print('AIC: ', results.aic)
    print('BIC: ', results.bic)
    print()
x = model.select_order(maxlags=12)
order=x.selected_orders["aic"]
result = model.fit(order)

Order = 1
AIC:  21.718260383901935
BIC:  21.75370043840152

Order = 2
AIC:  21.508477472246387
BIC:  21.573460734025993

Order = 3
AIC:  21.41257490767942
BIC:  21.50711031640833

Order = 4
AIC:  21.348903959383307
BIC:  21.473000459085434

Order = 5
AIC:  21.32229349894312
BIC:  21.475960037999908

Order = 6
AIC:  21.29978516925267
BIC:  21.483030700405983

Order = 7
AIC:  21.28327097606474
BIC:  21.496104456419793

Order = 8
AIC:  21.273940739344585
BIC:  21.516371130372843

Order = 9
AIC:  21.266120306855775
BIC:  21.538156574397856

Order = 10
AIC:  21.25753806718996
BIC:  21.559189181458564

In [20]:
#forecast =result.forecast(result,steps=12)

In [21]:
data1.columns

Index(['Char A', 'Char B', 'Char C', 'Char D', 'Char E'], dtype='object')

In [29]:
# Assuming `model` is the fitted VAR model
# `data1` is the preprocessed dataset used for training

# Get the last lagged values from the training data as input for prediction
lagged_values = data1[-order:]

# Predict the next 5 days
predictions = results.forecast(y=lagged_values.values, steps=60)

# Create a date range for the next 5 days
last_date = pd.to_datetime(dataset["Time"].iloc[-1])

date_range = pd.date_range(last_date + pd.DateOffset(1), periods=60)

# Convert the predictions array to a DataFrame and assign the date range as the index
predictions_df = pd.DataFrame(predictions, columns=listt, index=date_range)

# Print the predictions
print(predictions_df)

               Char A    Char B     Char C     Char D     Char E
2023-04-21  16.805944  0.488152   2.839171  34.413403  17.149005
2023-04-22  20.736350  0.648037   3.195804  37.449912  19.233011
2023-04-23  23.128740  0.767247   3.564002  40.053940  20.465081
2023-04-24  26.203455  0.954837   3.740992  42.059451  21.110304
2023-04-25  28.050106  1.053243   4.038529  43.225565  21.452895
2023-04-26  30.400605  1.222399   4.272810  44.378026  22.072258
2023-04-27  31.465468  1.346917   4.473722  45.712690  22.332675
2023-04-28  34.072207  1.550475   4.728304  48.281673  23.964795
2023-04-29  35.734836  1.652750   5.120900  50.105948  24.613974
2023-04-30  36.749146  1.788691   5.421213  51.649914  25.568683
2023-05-01  37.676696  1.976581   5.952606  54.360482  27.932129
2023-05-02  38.700908  2.129218   6.228018  55.288462  28.632819
2023-05-03  39.608779  2.279741   6.483697  56.154057  29.219387
2023-05-04  40.418183  2.426076   6.712898  56.849271  29.752877
2023-05-05  41.171151  2.560470   6.947645  57.537531  30.282182
2023-05-06  41.833346  2.692323   7.168914  58.147132  30.711711
2023-05-07  42.359372  2.822511   7.393816  58.759201  31.151426
2023-05-08  42.930571  2.949976   7.625341  59.401873  31.719777
2023-05-09  43.408749  3.079109   7.861307  59.913801  32.196263
2023-05-10  43.805104  3.197833   8.074487  60.380879  32.656528
2023-05-11  44.225580  3.316086   8.288888  60.807251  33.099299
2023-05-12  44.605630  3.428814   8.476199  61.133187  33.434667
2023-05-13  44.952611  3.537584   8.655019  61.433726  33.742339
2023-05-14  45.272635  3.641678   8.826184  61.700841  34.023889
2023-05-15  45.572046  3.742146   8.992958  61.950047  34.292361
2023-05-16  45.856222  3.838656   9.154012  62.177391  34.543533
2023-05-17  46.115770  3.932190   9.310491  62.384996  34.784042
2023-05-18  46.367372  4.021478   9.462072  62.581715  35.022094
2023-05-19  46.600509  4.108354   9.607138  62.751304  35.234590
2023-05-20  46.820452  4.190759   9.744813  62.907772  35.434134
2023-05-21  47.028963  4.270342   9.876885  63.048801  35.617755
2023-05-22  47.226293  4.346659  10.002284  63.176703  35.786178
2023-05-23  47.413725  4.419920  10.122568  63.293984  35.943300
2023-05-24  47.592058  4.490084  10.238190  63.401728  36.090558
2023-05-25  47.761893  4.557462  10.349378  63.501298  36.229806
2023-05-26  47.924177  4.622018  10.456200  63.593489  36.361321
2023-05-27  48.078005  4.683961  10.558695  63.678059  36.484899
2023-05-28  48.225258  4.743254  10.657023  63.757195  36.602166
2023-05-29  48.365394  4.800188  10.751101  63.829526  36.711266
2023-05-30  48.499305  4.854640  10.841171  63.896953  36.814117
2023-05-31  48.627289  4.906849  10.927482  63.959408  36.910624
2023-06-01  48.749774  4.956847  11.010177  64.017611  37.001572
2023-06-02  48.867016  5.004727  11.089478  64.071791  37.087388
2023-06-03  48.979216  5.050565  11.165555  64.122400  37.168531
2023-06-04  49.086597  5.094461  11.238504  64.169732  37.245363
2023-06-05  49.189450  5.136480  11.308450  64.214071  37.318104
2023-06-06  49.287844  5.176705  11.375485  64.255547  37.386890
2023-06-07  49.382139  5.215203  11.439740  64.294558  37.452103
2023-06-08  49.472447  5.252055  11.501305  64.331113  37.513764
2023-06-09  49.558998  5.287314  11.560313  64.365515  37.572232
2023-06-10  49.641944  5.321056  11.616874  64.397876  37.627661
2023-06-11  49.721454  5.353339  11.671093  64.428371  37.680278
2023-06-12  49.797667  5.384224  11.723069  64.457116  37.730245
2023-06-13  49.870715  5.413770  11.772897  64.484248  37.777725
2023-06-14  49.940736  5.442033  11.820658  64.509876  37.822863
2023-06-15  50.007864  5.469068  11.866440  64.534102  37.865781
2023-06-16  50.072211  5.494924  11.910321  64.557011  37.906597
2023-06-17  50.133908  5.519653  11.952383  64.578703  37.945438
2023-06-18  50.193061  5.543301  11.992699  64.599239  37.982401
2023-06-19  50.249778  5.565914  12.031344  64.618702  38.017599

In [ ]:
from stockFunctions import graph
graph(df[['Char A', 'Char B', 'Char C', 'Char D', 'Char E']], result.fittedvalues[['Char A', 'Char B', 'Char C', 'Char D', 'Char E']], "Actual", "Predicted", "Quality data", "Time", 'Data')

In [ ]:
len(data1)

In [ ]:
y_test

In [ ]:
aTestNormTable=y_test

In [ ]:
aTestNormTable

In [ ]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [ ]:
actual_stock_price_test_ori

In [ ]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[df])

In [ ]:
actual_stock_price_test_oriA

In [ ]:
from stockFunctions import conversionSingle
aTestNormTable=y_test
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[df])

In [ ]:
actual_stock_price_test_oriA

In [ ]:
from stockFunctions import conversionSingle
pTestNormTable=predictions
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori)

In [ ]:
predicted_stock_price_test_oriP

In [ ]:
from stockFunctions import graph
graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [ ]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)